@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  padding-left: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}
.section {
  padding: 120px 0;
}
/*  HEADER  */
.header {
  border-bottom: #e7e9fc solid 1px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  text-decoration: none;
}
.header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header-list-link {
  position: relative;
  color: #404bbf;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item {
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}
.list-item:not(:last-child) {
  margin-right: 40px;
}
.header-logo-color {
  color: #2e2f42;
}
.list-item a {
  position: static;
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: block;
  /* padding-top: 24px;
  padding-left: 24px; */
}
.current {
  position: relative;
  color: #404bbf;
}
.list-item a:focus {
  color: #404bbf;
}
.header-list-link {
  display: block;
}
.list-item .header-list-link:hover {
  color: #404bbf;
}
.header-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.list-item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  display: flex;
  align-content: center;
}

.header-address .header-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  text-decoration: none;
  font-style: normal;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.header-address-item a:hover {
  color: #404bbf;
}
.header-address-item a:focus {
  color: #404bbf;
}
/* HERO SECTION */
.hero {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  padding: 188px 0;
  margin: 0 auto;
}
/* .hero-container {
  background-size: cover;
} */

.hero-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:hover {
  background-color: #404bbf;
}
/*  BENEFITS SECTION  */
.hidden {
  visibility: hidden;
}

.benefits-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-list li:not(:last-child) {
  margin-right: 24px;
}
.benefits-list-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.benefits-list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.benefit-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* TEAM SECTION  */

.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* .team-list li:not(:last-child) {
  margin-right: 24px;
} */
.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team {
  background-color: #f4f4fd;
}
.team-data {
  padding: 32px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.team-social-icon {
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon:hover {
  background-color: #31d0aa;
}

.team-position {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.team-social-icon .team-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon-link:hover,
.team-social-icon-link:focus {
  background-color: #404bbf;
}
.team-svg {
  fill: #f4f4fd;
}
/*  PORTFOLIO SECTION */

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .portfolio-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
  background: #fff;
}
.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.portfolio-item-description {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  padding-bottom: 32px;
}
.portfolio-item-description h3 {
  margin-bottom: 8px;
}
.portfolio-item-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.portfolio-card-img p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .portfolio-card-description {
  transform: translateY(0%);
}
/*  FOOTER  */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}
.footer-social {
  color: white;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404bbf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-item:hover,
.footer-list-item:focus {
  background-color: #31d0aa;
}

.footer-social-name {
  margin-bottom: 16px;
}
.footer-data {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-data-logo {
  margin-right: 120px;
}
.footer-social-list {
  gap: 16px;
}
.footer-list-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon svg {
  fill: #f4f4fd;
}
.footer-social-icon .footer-list-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  display: flex;
  gap: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.subscribe-text {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-form-input {
  height: 40px;
  width: 264px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.48px;
  background-color: transparent;
}
.subscribe-form-input::placeholder {
  color: #fff;
}
/* .contact-form-btn {
  display: flex;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 8px 0 8px 24px;
  color: #fff;
  text-align: center;
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #4d5ae5;
} */

/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(46, 47, 66, 0.4);
  padding-top: 80px;
  padding-bottom: 12px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FORM*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.contact-form {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
}

.contact-form-input {
  display: block;
  max-width: 360px;
  display: flex;
  gap: 26px;
  padding: 0;
  padding-left: 38px;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 8px;
}

.contact-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  height: 56px;
  min-width: 165px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  border: none;
}
.icon-footer-plane {
  margin-left: 16px;
}
.contact-form-header {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.contact-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.contact-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:focus {
  border-color: #4d5ae5;
}
.contact-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-container-for-input {
  margin-bottom: 8px;
}
.form-container-for-input:nth-child(4) {
  margin-bottom: 16px;
}
.contact-form-input {
  position: relative;
  width: 100%;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus .icon-form-input {
  fill: #4d5ae5;
}
.contact-form-input:focus {
  border-color: #4d5ae5;
}

.icon-form-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus + .icon-form-input {
  fill: #4d5ae5;
}
.form-checkbox {
  margin-bottom: 24px;
}
.form-checkbox-input {
}
.form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.contact-form-input-container {
  position: relative;
}
.form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  color: #4d5ae5;
}
.send {
  display: block;
  min-width: 169px;
  height: 56px;
}
